* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    height: 100vh;
    overflow-x: hidden;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
}

.search-form {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0px 30px;
    /* border: 1px solid black; */
}

.search-form input {
    width: 260px;
    height: 40px;
    /* margin-left: -100px; */
    padding: 4px 12px;
    border: none;
    border-radius: 6px;
    border: 1px solid lightgray;
}

.search-form i {
    position: relative;
    right: 22px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.782);
    /* border: 1px solid black; */
}

.nav-links {
    display: flex;
    margin: auto 0px;
    /* border: 1px solid black; */
    gap: 40px;
}

.nav-links li {
    list-style-type: none;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    transition: .6s all ease-in-out;
}

.nav-links li a:hover {
    color: orangered;
}

nav .container i {
    display: none;
    cursor: pointer;
}

.products {
    width: 100%;
    height: fit-content;
    margin-top: 20px;
    /* border: 1px solid black; */
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
}

.products-container .card {
    margin-top: 6px;
    width: 20%;
}

.products-container .card img {
    max-width: 100%;
    height: auto;
}

footer {
    height: fit-content;
    width: 100%;
    margin-top: 10px;
    background-color: rgb(0, 0, 0);
}

footer .container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
}

.footer-div {
    padding-top: 40px;
    height: fit-content;
    min-width: 30%;
    height: auto;
    gap: 6px;
    /* border: 1px solid white; */
}

.footer-div h3 {
    font-size: 18px;
    font-family: monospace;
    font-weight: 700;
    padding: 2px 6px;
    color: lightgray;
}

.footer-div ul li {
    list-style: none;
    padding: 4px 0px;
}

.footer-div ul li a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    transition: .6s all ease;
    color: white;
    opacity: .4;
}

.footer-div ul li a:hover {
    color: orangered;
    padding-left: 6px;
    opacity: 1;
}

.footer-div p {
    padding: 4px 12px;
    color: white;
    opacity: .4;
}

.footer-div .socials {
    padding: 4px 12px;
}

.footer-div .socials i {
    padding: 2px 6px;
    transition: .6s all ease;
    cursor: pointer;
    color: lightgray;
    opacity: .4;
}

.footer-div .socials i:hover {
    color: orangered;
    opacity: 1;
}

.footer-div form {
    padding-left: 12px;
}

.footer-div form input {
    width: 260px;
    border-radius: 26px;
    padding: 12px 16px;
    border: none;
    outline: none;
}

.footer-div form button {
    width: 140px;
    margin-top: 8px;
    font-size: 14px;
    padding: 10px 12px;
    border-radius: 24px;
    outline: none;
    font-weight: 500;
    background-color: orangered;
    transition: .6s all ease;
}

.footer-div form button:hover {
    background: transparent;
    color: white;
    border: 1px solid orangered;
}

footer .copyright {
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: white;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        min-height: 100vh;
        width: 200px;
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        padding: 30px;
        gap: 26px;
        z-index: 999;
        background-color: white;
        margin-right: -200px;
        border: 1px solid rgba(211, 211, 211, 0.634) ;
    }
    
    .nav-links li {
        list-style-type: none;
    }
    
    .nav-links li a {
        text-decoration: none;
        color: black;
        transition: .6s all ease-in-out;
    }

    .nav-links .close {
        position: relative;
        margin-top: 10px;
        color: orangered;
    }

    nav .container i {
        display: flex;
        margin: auto 0px;
        align-self: flex-start;
    }

}

@media screen and (max-width: 400px) {
    .search-form i {
        display: none;
    }

    .products-container {
        display: flex;
        flex-wrap: wrap;
        /* border: 1px solid black; */
    }

    footer .container {
        flex-direction: column;
    }

    footer .container .footer-div{
        width: 100%;
    }

}

@media screen and (max-width: 780px) {
    footer .container {
        flex-direction: column;
    }

    footer .container .footer-div{
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .cart-container {
        display: flex;
        flex-wrap: wrap;
    }
}